<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <table class="body">
    <!-- substitute <body style="height: 100%; width:100%"> -->
    <tr>
      <td>
        <center>
          <spacer class="" size="15"></spacer>
          <container class="no-bg">
            <row>
              <columns large="6"  class="custom-padding"> <!-- small|large="12"  default values-->
                <p class="tiny-text small-text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa
                  obcaecati maxime
                  cupiditate quaerat, neque repudiandae sit id similique reprehenderit nulla rem pariatur praesentium.
                  Incidunt, sit! Nesciunt dolor sint magnam hic distinctio accusamus provident. Sunt quasi provident
                  veniam minima repellendus similique numquam nihil doloribus atque maiores facilis, dolor, incidunt
                  aliquid magni.</p>
                </columns>
                <columns large="6" class="custom-padding">
                  <p class="text-right small-text-center"><a href="#!" class="tiny-text basic-link">View this email in
                      your browser</a></p>
                </columns>
              </row>
          </container>
          <table>
            <tbody>
              <tr>
                <td>
                  <img src="../img/Email-hero.jpg" alt="Summer 2016">
                </td>
              </tr>
            </tbody>
          </table>

          <spacer class="" size="15"></spacer>
          <container>
            <spacer class="" size="40"></spacer>
            <row>
              <columns>
                  <p class="main-sub-heading text-center">Meet the</p>
                  <h1 class="main-heading text-center">Lorem collection</h1>
                  <spacer class="" size="30"></spacer>
                  <p class="main-body-p text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aperiam sunt
                    sapiente quia ex soluta recusandae accusantium quo, fugit eveniet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error officiis numquam fugiat perferendis, vero eaque.
                  </p>
                  <spacer class="" size="30"></spacer>
                  <center>
                    <button href="#">Shop now</button>
                  </center>
              </columns>
            </row>
          </container>

          <spacer class="" size="15"></spacer>
          <container>
            <spacer class="" size="40"></spacer>
            <row>
              <columns class="custom-padding">
                <h2 class="text-center text-uppercase ">Deals of the week</h2>
              </columns>
            </row>

            <row>
              <columns small="4" large="5"></columns >
                <columns small="4" large="2">
                  <div class="decorative-line"></div>
                </columns>
                <columns small="4" large="5"></columns>
            </row>

            <row>
              <columns large="4">
                <center><img src="../img/Email-short.jpg" alt="short"></center>
                <h3 class="item-name small-text-center text-uppercase">denim shorts</h3>
                <p class="item-price small-text-center">$16.99</p>
              </columns>
              <columns large="4">
                <center><img src="../img/Email-sneakers.jpg" alt="sneakers"></center>
                <h3 class="item-name small-text-center text-uppercase">sneakers</h3>
                <p class="item-price small-text-center">$16.99</p>
              </columns>
            </columns>
            <columns large="4">
              <center><img src="../img/Email-tshirt.jpg" alt="t-shirt"></center>
              <h3 class="item-name small-text-center text-uppercase">cropped t-shirt</h3>
              <p class="item-price small-text-center">$16.99</p>
            </columns>
          </columns>
        </row>

      </container>
      <spacer class="" size="15"></spacer>
      <spacer class="" size="15"></spacer>

      <container class="no-bg">
        <row>
          <columns>
            <p class="text-right small-text-center">
              <a href="#" class="basic-link tiny-text">unsubscribe from this list</a> | <a href="#" class="basic-link tiny-text">update subscription</a>
            </p>
          </columns>
        </row>
      </container>
      <spacer class="" size="50"></spacer>
        </center>
      </td>
    </tr>
  </table>

</body>
</html>
