@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 10;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        font-style: 15px;
        line-height: 17px;
        @extend %ubuntu-medium;
    }

    &__btn {
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 8px;
        cursor: pointer;
        transition: all 0, 3s;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    &__phone {
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}

.menu {
    &__list-item {
        display: inline-block;

        &+.menu__list-item {
            padding-left: 20px;
        }
    }
}

.top {
    background-image: url('../images/top-bg.jpg');

    &__wrapper {
        display: flex;
        align-items: flex-end;
        height: 100%;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.4;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    &__title {
        font-size: 96px;
        line-height: 115px;
        @extend %sf-semibold;
        margin-bottom: 25px;
    }

    &__text {
        margin: 25px 0 35px;
        max-width: 325px;
    }

    &__social-icon {
        display: inline-block;
        margin: 0 25px;
    }

    &__social-link {
        opacity: 0.5;
        transition: all .3s;

        &:hover {
            opacity: 1;
        }
    }
}

.product {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }

    &__text {
        max-width: 440px;

        p {
            margin-bottom: 30px;
        }
    }

    &__slider-box {
        position: relative;
        padding-top: 110px;
    }

    &__slider-text {
        position: absolute;
        bottom: 30px;
        left: -250px;
        width: 285px;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        @extend %ubuntu-medium;
        z-index: 5;
    }

    &__slider {
        max-width: 560px;
        &::before {
            content: '';
            position: absolute;
            top: -15px;
            right: -17px;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
        }
    }
}

.slider__btn {
    position: absolute;
    bottom: -45px;
    right: 0;
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    z-index: 5;
    cursor: pointer;
    svg {
        stroke: #000;
    }
    &-left {
        right: 60px;
    }
    &.slick-disabled {
        background-color: #000;
        svg {
            stroke: #fff;
        }
    }
}

.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }
    &__item {
        display: flex;
        align-items: flex-end;
        margin-bottom: 100px;
        &:nth-child(even) {
            margin-left: 40px;
        }
    }

    &__item-1,
    &__item-3 {
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }
    &__item-1{
        &::before {
            width: 245px;
            height: 45px;
            right: -56px;
            top: 31px;
            background-image: url('../images/line-1.svg');
        }
    }
    &__item-2 {
        transform: translateY(25px);
    }
    &__item-3 {
        transform: translateX(30px);
        &::before {
            width: 254px;
            height: 39px;
            right: -85px;
            top: 40px;
            background-image: url('../images/line-3.svg');
        }
        &::after {
            width: 463px;
            height: 62px;
            right: -34px;
            top: -70px;
            background-image: url('../images/line-2.svg');

        }
    }
    &__item-4 {
        transform: translateX(55px) translateY(25px);
    }
    &__num {
        margin-right: 10px;
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
    }
    &__img {
        position: relative;
        margin-right: 32px;
        &::before {
            content: '';
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
            right: -12px;
            top: -12px;
            z-index: -1;
        }
    }
    &__info {
        width: 300px;
    }
    &__info-title {
        width: 137px;
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
    }
    &__info-text {
        font-size: 15px;
        line-height: 18px;
    }
}

@import "media";
