* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.diploma {
  width: 800px;
  margin: 0 auto;
  border: 1px solid blue;
}
h1 {
  color: blue;
  font-weight: 100;
}
.diploma {
  text-align: center;
  padding: 60px;
}
small {
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 50px;
}
.line {
  height: 1px;
  margin: 10px auto;
  background-color: #666;
}
.line:after {
  content: 'Фамилия и Имя';
  display: block;
  position: relative;
  bottom: -.7rem;
  font-size: .8rem;
}
.name, .surname {
  display: inline-block;
  text-transform: uppercase;
}

.date {
  margin-top: 70px;
  width: 30%;
  display: inline-block;
  border-bottom: 1px solid #666;
  position: relative;
  height: 20px;
}
.date:after {
  content: 'Дата';
  display: block;
  position: relative;
  bottom: -.4rem;
  font-size: .8rem;
}