@import "vars";

@media only screen and (max-width: 1200px){
    .welcom{
        .h1{
            font-size: 64px;
        }
    }
    .header-contacts{
        font-size: 14px;
    }
    .carousel-services-item{
        flex-direction: column;
    }
    .s{
        &-review, &-partners, &-king{
            padding: 8% 0;
            font-size: 16px;
        }
        &-call{
            background-size: cover;
        }
    }
    .footer-social .social li{
        margin: 0;
    }
}


@media only screen and (max-width: 992px){
    .welcom{
        .h1{
            font-size:  48px;
        }
    }
    .s-call{
        &::before{
            width: 100%;
        }
    }
    .callback{
        padding: 12% 0;
    }
    .footer{
        &-phone{
            font-size: 24px;
        }
        &-nav{
            padding-left: 0;
        }
        &-social .social li{
            margin: 3px;
        }
    }
}

@media only screen and (max-width: 768px){
    .header-contacts{
        .mobile-bottom{
            text-align: left;
        }
        .contacts-span{
            display: inline;
            margin-bottom: 8px;
            margin-left: 18px;
        }
    }
    .button{
        padding: 12px 36px;
    }
    .s{
        &-review, &-partners, &-king{
            font-size: 14px;
        }
        &-partners{
            .h2{
                margin: 0;
            }
        }
    }
    .quotes{
        display: none;
    }
    .partners{
        owl-nav{
            > div{
                &.owl-prev{
                    left: 0;
                }
                &.owl-next{
                    right: 0;
                }
            }
        }
    }
    .footer{
        &-add{
            margin-bottom: 10px;
        }
        &-social{
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: 576px){
    .header-contacts{
        text-align: center;
        .mobile-bottom{
            text-align: center;
        }
    }
    .top-line{
        .phone{
            left: 40px;
        }
    }
    .footer-nav{
        padding-left: 20px;
    }
}
@media only screen and (max-width: 480px){
    .welcom{
        .h1{
            font-size: 28px;
            margin-top: 5px;
        }
        p{
            span{
                font-size: 10px;
            }
        }
        strong{
            margin-top: 15px;
            font-size: 10px;
        }
    }
    .header-composition{
        .text{
            font-size: 12px;
        }
    }
    .header-flex__center {
        margin: 100px auto 0;
    }
    body.ishome .top-line{
        padding-top: 20px;
    }
    .button{
        padding: 10px 36px;
        font-size: 10px;
    }
}





/*==========  Desktop First  ==========*/

/* ≥1200px*/
@include media-breakpoint-down(lg) {

}

/* ≥992px*/
@include media-breakpoint-down(md) {

}

/* ≥768px*/
@include media-breakpoint-down(sm) {

}

/* ≥576px*/
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

/* ≤576px*/
@include media-breakpoint-up(sm) {

}

/* ≤768px*/
@include media-breakpoint-up(md) {

}

/* ≤992px*/
@include media-breakpoint-up(lg) {

}

/* ≤1200px*/
@include media-breakpoint-up(xl) {

}
