@import "vars";
@import "fonts";
@import "libs";
/* opacity - for mobile devices*/
::-webkit-input-placeholder {
	opacity: 1;
	color: #fff;
}

::-moz-placeholder {
	opacity: 1;
	color: #fff;
}

:-ms-input-placeholder {
	color: #fff;
}

::-ms-input-placeholder {
	color: #fff;
}

::placeholder {
	opacity: 1;
	color: #fff;
}

::-moz-selection {
	background-color: $accent;
}

::selection {
	background-color: $accent;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	color: #fff;
	opacity: 1;
	input, textarea {
		/* &:focus:required:invalid {*/
		/* 	border-color: red;*/
		/* }*/
		/* &:required:valid {*/
		/* 	border-color: green;*/
		/* }*/
	}
	&.ishome {
		.site-header {
			min-height: 650px;
			height: 100vh;
			background-color: $dark;
		}
		.top-line {
			padding-top: 40px;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
	}
}
section, header {
	position: relative;
	background-size: cover;
	background-position: center;
}
section {
	background-color: #fff;
	&.inverse{
		background-color: $dark;
		color: #fff;
	}
	&.section-overley{
		&::before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $overley;
			opacity: .92;
		}
	}
	.h2{
		font-size: 30px;
		font-weight: 700;
		color: $accent;
		span{
			color: #fff;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	/* меньше базового на 0.35*/
	line-height: 1.4;
	text-transform: uppercase;
}
ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
}
b, strong {
	font-weight: bold;
}
/* fallback for selectize plagin*/
input, textarea, select,
.selectize-control .selectize-input,
.selectize-control.single .selectize-input.input-active{
	width: 100%;
	margin-top: 17px;
	background-color: transparent;
	border: 1px solid rgba(#000, .1);
	border-bottom: 2px solid rgba(#000, .1);
	border-radius: 2px;
	padding: 8px 22px;
	font-size: 16px;
	color: #fff;
	outline: none;
}
.selectize-control .selectize-input{
	box-shadow: none;
	overflow: inherit;
	line-height: inherit;
	text-align: left;
	input{
		font-size: inherit;
		&.dropdown-active::before{
			background-color: transparent;
		}
	}
}
.selectize-control.single{
	.selectize-input, &.dropdown-active{
		&::after{
			border: none; /* убрали стрелку от плагина*/
			content: '\f107';
			font-family: fontawesome;
			position: absolute;
			right: 30px;
			top: 12px;
		}
		&.dropdown-active::after{
			content: '\f106';
		}
	}
}
.selectize-dropdown{
	font-size: 15px;
	border-radius: 0;
	border: 0;
	text-align: left;
	&-content{
		.option{
			padding: 10px 22px;
			&.active{
				background-color: lighten($accent, 15);
			}
		}
	}
}
select{
	padding: 10px 22px;
	option{
		color: #333;
	}
}
/* --------end of fallback*/
a{
	text-decoration: none;
	color: #fff;
	&:hover{
		text-decoration: none;
		color: $accent;
	}
}
.button{
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  &::after{
      transition: background-color .2s ease;
      position: absolute;
      content: '';
      height: 4px;
      bottom: 0;
      width: 100%;
      background-color: darken($accent, 50%);
      opacity: .18;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      left: 0;
  }
  &:focus, &:hover{
      text-decoration: none;
      color: #fff;
  }
  &:hover{
      background-color: lighten($accent, 5%);
      &::after{
          opacity: .22;
      }
  }
  &:active{
      background-color: darken($accent, 5%);
      &::after{
          opacity: .32;
      }
  }
  &.button-white{
  	background-color: #fff;
  	color: #444;
  	&::after{
  		background-color: rgba(#000, .6);
  	}
  	&:hover{
  		&::after{
  		background-color: rgba(#000, .2);
  		}
  	}
  	&:active{
  		&::after{
  		background-color: rgba(#000, .4);
  		}
  	}
  }
}
/* методика атомарной верстки, когда за каждое свойство элемента отвечает отдельный класс*/
.text-center{
	/* text-align: center;*/
}
@mixin opacity($opacity){
	opacity: $opacity / 100;
	filter: alpha(opacity=$opacity);
}
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: $dark;
	.pulse{
		position: relative;
		left: 50%;
		top: 50vh;
		margin-left: -40px;
		margin-top: -40px;
		&::before, &::after{
			position: absolute;
			content: '';
			border: 5px solid #323232;
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
		&::before{
			-webkit-animation: pulse-outer .8s ease-in infinite;
			        animation: pulse-outer .8s ease-in infinite;
		}
		&::after{
			-webkit-animation: pulse-inner .8s linear infinite;
			        animation: pulse-inner .8s linear infinite;
		}
	}
}
@-webkit-keyframes pulse-outer{
	0% {
		@include opacity(100);
	}
	50% {
		@include opacity(50);
	}
	100% {
		@include opacity(0);
	}
}
@keyframes pulse-outer{
	0% {
		@include opacity(100);
	}
	50% {
		@include opacity(50);
	}
	100% {
		@include opacity(0);
	}
}
@-webkit-keyframes pulse-inner{
	0% {
		@include opacity(0);
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	100% {
		@include opacity(100);
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes pulse-inner{
	0% {
		@include opacity(0);
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	100% {
		@include opacity(100);
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
.logo {
	img {
		width: 125px;
		height: auto; /* for old iPhones*/
		margin-left: 45px;
	}
}
.phone {
	position: absolute;
	right: 85px;
	top: 44px;
	font-family: firasans-me;
	font-size: 22px;
	white-space: nowrap;
	color: #fff;
	&:hover{
	cursor: pointer;
	}
	.fa {
			color: #555;
			font-size: 22px;
			margin-right: 6px;
		}
}
.hamburger {
	position: absolute;
	right: 0;
	top: 34px;
	.hamburger-box {
		width: 34px;
	}
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	border-radius: 0;
	width: 34px;
	height: 2px;
	background-color: #fff;
}
.mm-navbar {
	text-align: center;
  border-bottom-width: 0px;
	&__title img {
		width: 128px;
		height: auto;
	}
}
/*безуспешная попытка устранить рывок при свертывании панели*/
html.mm-wrapper_opened {
	overflow-y: scroll;
}
.mm-menu_opened .mm-panel {
	 left: 18px;
}
/*--------------------------------------------------------*/
.mm-listitem_selected>.mm-listitem__text {
	background: rgba(255, 255,255, .15);
	color: $accent !important;
}
.mm-listitem:after {
	border-bottom: 0;
}
.mm-panel li > a{
	transition: color .25s ease;
	&:hover {
		color: $accent !important;
		&::before {
			color: $accent;
		}
	}
	&::before {
		content: '\f219';
		margin-right: 8px;
		font-family: fontawesome;
		font-size: 12px;
		color: #fff;
		transition: color .25s ease;
	}
	&.active {
		> a, >a::before {
			color: $accent;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 1280px;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.text-center {
	text-align: center;
}
.header{
	&-flex{
	display: flex;
	height: 100%;
	position: relative;
	top: 0;
		&__center{
			margin: auto;
		}
	}
	&-composition{
		position: relative;
		padding: 15px;
		text-align: center;
		p{
			margin-top: 40px;
		}
		.text{
			 padding: 0 15px;
		}
		.button{
			margin-top: 25px;
		}
	}
}
.welcom{
	p{
		display: flex;
		/* flex-direction: column;*/
		align-items: center;
		margin: 0;
		/* margin-bottom: -10px;*/
		font-size: 14px;
		text-transform: uppercase;
		white-space: nowrap;
		&::before, &::after{
			content: '';
			display: inline-block;
			position: relative;
			height: 1px;
			width: 100%;
			background-color: #fff;
		}
		span{
			margin: 0 10px;
		}
	}
	.h1{
		margin: 0;
		line-height: 1.6;
		font-weight: 100;
		font-size: 70px;
		white-space: nowrap;
		border-bottom: 1px solid #fff;
	}
	strong{
		display: block;
		margin-top: 25px;
		font-size: 17px;
		text-transform: uppercase;
		.fa{
			margin: auto 10px;
			font-size: 12px;
			color: #555;
		}
	}
}
.header-social{
	position: absolute;
	display: flex;
	height: 100%;
	right: 0;
	top: 0;
	border-left: 1px rgba(#fff, .1) solid;
}
.social{
	margin: auto;
	padding: 0 12px;
	a{
		display: block;
		margin: 18px 0;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		color: #2c2c2c;
		font-size: 17px;
		text-align: center;
		line-height: 38px;
		background-color: rgba(#fff, .2);
		transition: background-color .25s ease;
		&:hover{
			background-color: rgba(#fff, .4);
		}
	}
}
.header-contacts{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px 0;
	border-top: rgba(#fff, .15) 1px solid;
	background-color: rgba(#151515, .15);
	.fa{
		margin-right: 8px;
		color: #555;
	}
	.mobile-bottom{
		font-family: firasans-me, sans-serif;
		text-align: center;
		&:hover{
			cursor: pointer;
		}
	}
	.contacts-span{
		display: block;
		white-space: nowrap;
		text-align: left;
		margin-left: 20px;
	}
}

$colors: $blue, $red, $accent;
@for $i from 1 through length($colors){
	.carousel-services .owl-item:nth-child(#{length($colors)n+#{$i}}) {
		background-color: nth($colors, $i);
	}
}
.carousel-services{
	background-color: $dark;
	.owl-item{
		/* фиксим рывки при прокручивании карусели*/
		/* -webkit-backface-visibility: inherit; -в сборщике есть autoprefixer*/
    -webkit-backface-visibility: inherit;
            backface-visibility: inherit;
		&:nth-child(2n+2){
			.carousel-services-item{
				flex-direction: column;
			}
		}
	}
	.owl-nav{
		position: absolute;
		top: 0;
		width: 100%;
		>div{
			position: absolute;
			width: 64px;
			height: 64px;
			text-align: center;
			color: $dark;
			font-size: 26px;
			line-height: 64px;
			background-color: #fff;
			&.owl-prev{
				left: 0;
			}
			&.owl-next{
				right: 0;
			}
		}
	}
	&-item{
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		position: relative;
		display: flex;
		/* justify-content: center;*/
		/* align-items: center;*/
		flex-direction: column-reverse;
		&:hover{
			.carousel-services-img{
				opacity: 1;
			}
		}
		.carousel-logo{
			text-align: center;
			img{
				width: 100px;
				height: auto;
				/* margin: 0 auto;*/
				display: inline-block;
			}
		}
	}
	&-content{
		/* display: flex;*/
		position: relative;
		padding: 60px 10%;
	}
	&-composition{
		margin: auto;
		text-align: center;
		h3{
			font-weight: 800;
			font-size: 28px;
			margin-top: 5px;
			margin-bottom: 20px;
			span{
				display: block;
				font-size: 18px;
				font-weight: 300;
			}
		}
		ul{
			margin-bottom: 25px;
			li{
				padding: 9px;
				border-bottom: 1px solid rgba(#000, .12);
				&:last-child{
					border-bottom: none;
				}
				strong{
					font-family: firasans-me, sans-serif;
					color: #4a4a4a;
				}
				.fa{
					font-size: 14px;
				}
			}
		}
	}
	&-img{
		background-position: center;
		background-size: cover;
		opacity: .7;
		transition: opacity .5s ease;
	}
}

.s{
	&-review, &-partners, &-king{
		padding: 5% 0;
	}
	&-king{
		p{
			margin: 30px 0;
			font-size: 18px;
		}
	}
	&-call{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 10%;
		&::before{
			position: absolute;
			content: '';
			width: 50%;
			height: 100%;
			right: 0;
			background-color: rgba($accent, .92);
		}
		&.inverse{
			background-color: #fff;
		}
	}
	&-partners.section-overley{
		&::before{
			background-color: #fff;
		}
		.h2{
			margin-top: 0;
			z-index: 10;
			span{
				color: $accent;
			}
		}
	}
}

.fotorama{
	background-color: rgba($dark, .4);
	&__nav{
		&-wrap{
			position: absolute;
			bottom: 15px;
			padding: 0 15px;
			width: 100%;
		}
	}
	&__thumb{
			border: 4px #fff solid;
			transition: border-color .8s ease;
		&-border{
			width: 110px !important;
			height: 66px !important;
			border-color: #3d3c3c;
		}
	}
	&__active{
		.fotorama__thumb{
				border-color: #3d3c3c;
		}
	}
	&__arr-{
		&-next, &-prev{
			&::before{
				font-family: fontawesome;
				font-size: 32px;
				color: #fff;
			}
		}
		&-next{
			&::before{
				content: '\f105';
			}
		}
		&-prev{
			&::before{
				content: '\f104';
			}
		}
	}
}
.success{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* display: flex; add with script*/
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 10;
	span{
		margin: auto;
	}
	&~*{
		transition: all .5s ease;
	}
	&.active{
		&~*{
			opacity: .5;
			-webkit-filter: blur(10px);
			        filter: blur(10px);
		}
	}
}
.callback{
	padding: 15%;
	position: relative;
	&-logo{
		img{
			width: 100px;
			height: auto;
		}
	}
	.form-title{
		margin: 0;
		font-size: 30px;
		p{
			margin-top: 0;
		}
	}
	.button{
		margin-top: 40px;
	}
}
.reviews{
	text-align: center;
	.owl-dots{
		width: 100%;
		text-align: center;
		margin-top: 60px;
		.owl-dot{
			width: 8px;
			height: 8px;
			background-color: #fff;
			border-radius: 50%;
			display: inline-block;
			margin: 4px;
			transition: background-color .4s ease, -webkit-transform .4s ease;
			transition: transform .4s ease, background-color .4s ease;
			transition: transform .4s ease, background-color .4s ease, -webkit-transform .4s ease;
			&.active{
				background-color: $accent;
				-webkit-transform: scale(1.2);
				        transform: scale(1.2);
			}
		}
	}
}
.review{
	margin-top: 20px;
	&-header{
		font-family: 'Times New Roman', serif;
		font-style: italic;
		font-size: 30px;
		font-weight: bold;
	}
	&-date{
		font-family: 'Times New Roman', serif;
		font-style: italic;
		font-size: 16px;
		color: #888;
	}
	&-stars{
		margin: 18px 0 35px;
		font-size: 14px;
		color: $accent;
		.fa{
			margin: 0 2px;
		}
	}
	&-text{
		color: #95989a;
		font-weight: 300;
	}
}
.quotes{
	position: absolute;
	width: 100%;
	&::before, &::after{
		display: block;
		position: absolute;
		content:',,';
		font-size: 56px;
		font-weight: bold;
		line-height: 0;
		color: $accent;
		font-family: 'Times New Roman', serif;
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	&::before{
		left: -60px;
		top: 250px;
	}
	&::after{
		right: -35px;
		top: 215px;
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
}
.partners{
	.partner{
		height: 100%;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin: auto;
	}
	.owl-stage{
		display: flex;
	}
	.owl-item{
		margin-top: 30px;
		img{
			max-width: 100%;
			width: auto;
			display: inline-block;
			margin: auto;
		}
	}
	.owl{
		&-nav{
			position: absolute;
			width: 100%;
			top: 0;
			/* z-index: 2;*/
			color: #999;
			font-size: 30px;
			> div{
				position: absolute;
				top: 50px;
				padding: 0 10px;
				transition: o .5s ease;
				&:hover{
					opacity: .6;
				}
			}

		}
		&-prev{
			left: -60px;
		}
		&-next{
			right: -60px;
		}
	}
}

.footer{
	&-main{
		background-color: #242424;
		padding: 3% 0;
		color: #fff;
		font-size: 14px;
	}
	&-column{
		margin: 15px 0;
	}
	&-nav{
		padding-left: 25px;
	}
	&-social{
		margin-top: 38px;
		.social{
			padding: 0;
			li{
				display: inline-block;
				margin: 3px;
				a{
					color: #ababab;
					margin-bottom: 0;
					transition: all .5s ease;
					&:hover{
						color: rgba(#fff, .8);
					}
				}
			}
		}
	}
	&-menu{
		ul{
			li.active{
				a{
					color: $accent;
					&::before{
						color: $accent;
					}
				}
			}
			a{
			position: relative;
			display: inline-block;
			padding-left: 20px;
			margin: 3px 0;
			font-size: 15px;
			color: #979797;
			text-decoration: underline;
			transition: color .5s ease;
			&:hover, &:focus{
				color: $accent;
				&::before{
					color: $accent;
				}
			}
			&::before{
				position: absolute;
				left: 0;
				top: 3px;
				font-family: fontawesome;
				font-size: 12px;
				content: '\f219';
				color: #fff;
				transition: color .5s ease;
			}
			}
		}
	}
	&-addr{
		position: relative;
		font-size: 15px;
		padding-left: 24px;
		margin: 0 0 20px;
		.fa{
			position: absolute;
			left: 0;
			top: 5px;
			font-size: 18px;
			color: #555;
		}
	}
	&-phone{
		font-family: fontawesome;
		font-size: 26px;
		.fa{
			top: 15px;
			font-size: 22px;
			left: 2px;
		}
	}
}
.logo-footer{
	width: 125px;
	height: auto;
	+p{
		color: #666;
		margin: 15px 0 0;
	}
}
.map{
	max-height: 200px;
	opacity: .7;
	transition: o .5s ease;
	&:hover{
		opacity: 1;
	}
}
.top{
	position: fixed;
	bottom: 50px;
	right: -100px;
	background-color: #e0e0e0;
	z-index: 12;
	border-radius: 50%;
	font-size: 26px;
	color: #666;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	opacity: .5;
	transition: all .3s ease;
	&:hover{
		background-color: $accent;
		opacity: 1;
		color: #fff;
	}
	&.active{
		right: 25px;
	}
}

@import "media";
 /* Always at the end*/












