.action {
    @include flexbox();
    background: url(../img/map.png) no-repeat top/cover, linear-gradient(300deg, #88d3ce, #6e45e2);
    &-subtitle {
        margin-top: 178px;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
    }
    &-title {
        margin-top: 24px;
        margin-bottom: 18px;
        font-size: 60px;
        font-weight: 500;
    }
    &-buttons {
        margin-bottom: 186px;
    }
    &-button {
        width: 190px;
        height: 50px;
        margin-right: 10px;
        border: solid 1px #d7dbe8;
        border-radius: 25px;
        background-color: #ffffff;
        box-shadow: 0 0 18.7px 2.3px rgba(204, 204, 223, 0.5);
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: #c2c9db;
        transition: .2s;
        &:hover {
            background-color: #6e45e2;
            color: #fff;
            cursor: pointer;
        }
    }
}
