
.main {
    padding-top: 50px;
    // transparent image does top and the gradient goes under it
    background: url(../img/bg1.png) no-repeat 0% 65%/cover, linear-gradient(300deg, #88d3ce, #6e45e2);
    &-text {
        @include flexbox();
        &__subtitle {
            @include lines($white);
        }
        &__header {
            margin: 20px 0 22px;
            font-size: 8.5rem;
            font-weight: 500;
        }
        &__description {
            width: 375px;
            margin: 0;
            margin-bottom: 180px;
            // font-size: 1.6rem;
            font-weight: normal;
            line-height: 1.75;
            text-align: center;
        }
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 180px;
}
.logo {
    &__img {
        vertical-align: middle;
    }
    &__text {
        color: #fff;
        font-size: 3rem;
        letter-spacing: 6px;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 900;
        vertical-align: middle;
        margin-left: 17px;
    }
}
.menu {
    &-wrap {
       display: flex;
       justify-content: space-between;
       width: 50%;
       list-style: none;
   }
   &__item a {
       text-decoration: none;
       color: #fff;
   }
}
.btn {
    border: 1px solid #fff;
    border-radius: 250px;
    padding: 19px 33px;
    margin-left: 50px;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
}
.arrow {
    &-wrap {
        display: flex;
        justify-content: center;
    }
    &-down {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 18.7px 2.3px rgba(204, 204, 223, 0.5);
        margin-bottom: 50px;
        line-height: 64px;
        text-align: center;
    }
}
.m-menu-link  {
    display: none;
}
