@media (max-width: 1199px) {
    html {
        font-size: 9px;
    }
    .visible-lg {
        display: none;
    }
    .m-menu-link {
        display: block;
    }
    .btn {
        margin-left: 0;
    }
    .price {
        &-tags {
            padding-bottom: 0;
        }
        &-tag {
            margin-bottom: 50px;
        }
}
@media (max-width: 991px) {
    html {
        font-size: 7px;
    }
    .price {
        &-tags {
            flex-direction: column;
            align-items: center;
        }
        &-tag {
            width: 90%;
            &:nth-child(2) {margin: 0 0 50px;}
        }
    }
    .menu-footer__wrap {
        display: none;
    }
    .footer-header {
        justify-content: center;
        margin-bottom: 50px;
    }
    .stamp {
        flex-direction: column;
        justify-content: center;;
    }
}
